## Introduction to Python

In [2]:
# Why Python - Object oriented, Rich library for DS, Rich Community of Contributors

In [3]:
# As a Data Science Practitioner; Understand Problem, Relate to real live issue, deal with data, transform data
# model real life scenarios, use historical data, do research, use algorithms...Predict,

## Learn Python

In [5]:
# Python has rules -> To avoid error

## Variables & Data Types

In [7]:
# Create a variable 
# Have a variable name

In [8]:
name = "Pablo" # a variable containing Pablo
# When you click run, Python stores the variable to memory

In [9]:
# Strings or objects are indicated with either a single/double/triple quote
name_student = Chisom

NameError: name 'Chisom' is not defined

In [ ]:
name_student = 'Chisom'

In [ ]:
print(name_student)

In [ ]:
print(name)

## There are rules for naming & using Variables 

### If you break some of these rule; errors or your code will be difficult to understand

In [ ]:
# Rule 1
# Variables names can contain; letters, numbers & underscores 
# Variables can start with; a letter, an underscore but not a number

In [ ]:
name_tutor = "Pablo"

In [ ]:
_tutor_name = "Peter"

In [ ]:
1tutor = "Pablo"

In [ ]:
# Rule 2
# Spaces are not allowed in variables; underscores are useful

In [ ]:
student name = 'Chisom'

In [ ]:
studentName = 'Chisom'

In [ ]:
# Rule 3
# Avoid using Python keywords and function names as variable names
# If you use them, you will confuse yourself or the code reader

In [14]:
# list all keywords in Python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
# create a list
list_number = [23, 45, 67, 78]

In [26]:
print(list_number)

[23, 45, 67, 78]

In [28]:
sum(list_number)

213

In [30]:
sum = "numbers"

In [32]:
print(sum)

numbers

In [34]:
del sum

In [36]:
# del sum use the del function to remove confusing variables

In [38]:
# Rule 4
# Variable names should descriptive, it shouldn’t be long

In [40]:
n_t = "Pablo" # Not descriptive

In [42]:
name_tutor = "Pablo" # Descriptive

In [44]:
the_name_data_science_tutur_alt_school_africa = "Uncle Pablo" # Too long

In [46]:
# Rule 5 
# Careful using similar letters and numbers
# l 1, 0 O - causes confusion

In [48]:
# You will read more code than you write

In [50]:
# Camel case; nameTutor, name_tutor
# NaMe_TUtor

## Very popular error with naming variables

In [53]:
# name error

In [55]:
NaMe_TUtor = 'Gideon'

In [57]:
print(nAme_TuTor)

NameError: name 'nAme_TuTor' is not defined

## Introducing Strings

In [60]:
# A data type
# String(s) are a series of characters
# Anything inside a quote is considered a string in Python
# You use a single/double/triple quotes

### Anything started with # sign is a comment.

#### Especially in a code cell

In [63]:
# Relate to Something real 
# import a package - we need to perform a specific task
# Read a dataset into a dataframe 
# Seen the firrst five rows
# Extract the data types

In [65]:
# an import statement
import pandas as pd

In [67]:
# Read this dataset into a dataframe
# A dataframe is a 2 Dimensional table

In [69]:
bank_data = pd.read_csv("bank-full.csv", sep=';') # read a dataset into a dataframe

In [71]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [73]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [75]:
#iris_data = pd.read_csv("/Users/pablo/Downloads/Iris.csv")

In [77]:
#iris_data.head()

### Comments

What are comments? #

In [80]:
# Important to document our code from start
# It is crucial to document your variable names, function names...
# Give them readable indentifier
# This is done using comments

In [82]:
# Continuing with Strings
# One of the most common data types in Python 
# A String is a series of characters

In [84]:
"This is the third Live Class"

'This is the third Live Class'

In [86]:
'This is the Karatu Session'

'This is the Karatu Session'

### Using a Variable with a string

In [89]:
live_class = "This is the third Live Class"

In [91]:
live_class

'This is the third Live Class'

### Python method - Python functionalities

In [94]:
print(live_class.upper())

THIS IS THE THIRD LIVE CLASS

In [96]:
print(live_class.lower())

this is the third live class

In [98]:
sum([23,45]) # A built-in Python Function

68

In [100]:
# Popular error
a_statement = 'Today's live class'

SyntaxError: unterminated string literal (detected at line 2) (4162842367.py, line 2)

In [102]:
a_statement = "Today's live class"

### Example for using Python strings

In [105]:
# Putting two strings together 
# Concatenating strings
greeting = "Hello, world" # a variable containing hello world
name = "Alice" # a variable with the name Alice
personal_greeting = greeting + " " + name 
print(personal_greeting)

Hello, world Alice

In [107]:
# Question 
x, y, z = 13, 12, 14
print(x, y, z)

13 12 14

In [109]:
print(y)

12

### Introduce Python Lists

In [112]:
# It is a data structure 
# It can store sets of Information 
# From a few items to millions of items
# A list is mutable - editable 
# To create a list - []
# It is a collection of items in a particular

In [114]:
# Create our first list
list_classNames = ['Saheed', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [116]:
print(list_classNames)

['Saheed', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [118]:
# type method
type(greeting)

str

In [120]:
type(list_classNames)

list

In [122]:
# list can contain different data types
list_difftypes = [234, 'Saheed', False, 'Pablo', 42.0]

In [124]:
print(list_difftypes)

[234, 'Saheed', False, 'Pablo', 42.0]

In [126]:
type(list_difftypes)

list

### Basic Operations with a List

In [129]:
print(list_classNames)

['Saheed', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [131]:
# Accessing elements in a list
# Elements in a list are indexed 
# Numbering(index positions) starts from 0
list_classNames[0]

'Saheed'

In [133]:
# number of elements in the list
len(list_classNames)

5

In [135]:
list_classNames[5]

IndexError: list index out of range

In [137]:
list_classNames[4]

'Sandra'

In [139]:
list_classNames[-1]

'Sandra'

### Modify, Add & Remove Elements from a List

In [142]:
# A list is mutable

In [144]:
print(list_classNames)

['Saheed', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [146]:
# Modifying an element in a list
list_classNames[0] = 'Emeka'

In [148]:
print(list_classNames)

['Emeka', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [150]:
# To add - append() - will add to the end of a list
list_classNames.append('Saheed')

In [152]:
print(list_classNames)

['Emeka', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra', 'Saheed']

In [154]:
# To add - insert() - takes advantage of index positions 
list_classNames.insert(1, 'Ebuka')

In [156]:
print(list_classNames)

['Emeka', 'Ebuka', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra', 'Saheed']

In [158]:
# To remove - del 
del list_classNames[1]

In [160]:
print(list_classNames)

['Emeka', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra', 'Saheed']

In [162]:
# To remove - pop() - last item
list_classNames.pop()

'Saheed'

In [164]:
print(list_classNames)

['Emeka', 'Shukurah', 'Ndidi', 'Adeola', 'Sandra']

In [166]:
# To remove - pop() -index position 
patience = list_classNames.pop(2)

In [168]:
print(patience)

Ndidi

In [170]:
# Recap to remove using del
del list_classNames[3]

In [172]:
print(list_classNames)

['Emeka', 'Shukurah', 'Adeola']

In [174]:
# Remove items - remove value
list_classNames.remove('Shukurah')

In [176]:
print(list_classNames)

['Emeka', 'Adeola']

In [178]:
# Popular error
print(list_classNames[2])

IndexError: list index out of range

### Recreate a dataframe

In [181]:
# import a package 
import pandas as pd

In [183]:
bank_data = pd.read_csv('bank-full.csv', sep = ';') # Reading the data into a dataframe

In [185]:
bank_data.head() # firrst 5 rows

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [187]:
bank_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

### Creating a list from a dataframe

In [190]:
list_bankJob = list(bank_data['job'].unique())

In [192]:
print(list_bankJob)

['management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin.', 'services', 'self-employed', 'unemployed', 'housemaid', 'student']

In [194]:
list_bankJob[4]

'unknown'

In [196]:
# Print this list
list_bankJob

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

### Introduction to for Loops with Lists

In [199]:
# Looping let's you perform an action on each element in a list

In [201]:
# Creating a for loop:
# 1. for keyword
# 2. Iterator variable - temporary 
# 3. In keyword - operator
# 4. the list
# 5. colon - leads to an indentation 
# 6. Block of codes

In [203]:
for jobs in list_bankJob:
    print(jobs.upper())

MANAGEMENT
TECHNICIAN
ENTREPRENEUR
BLUE-COLLAR
UNKNOWN
RETIRED
ADMIN.
SERVICES
SELF-EMPLOYED
UNEMPLOYED
HOUSEMAID
STUDENT

### Avoid Indentation Errors

In [206]:
for jobs in list_bankJob:
    print(jobs.upper())

MANAGEMENT
TECHNICIAN
ENTREPRENEUR
BLUE-COLLAR
UNKNOWN
RETIRED
ADMIN.
SERVICES
SELF-EMPLOYED
UNEMPLOYED
HOUSEMAID
STUDENT

In [208]:
for fruit in fruits:
    print(f"I like {fruit}")

NameError: name 'fruits' is not defined

In [210]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'peach']

### Indenting Unnecessarily

In [213]:
for fruit in fruits:
    print(f"I like {fruit}")
print("I love fruits")

I like apple
I like banana
I like cherry
I like durian
I like peach
I love fruits

In [215]:
# Indenting unnecessarily 
for fruit in fruits:
    print(f"I like {fruit}")
    print("I love fruits")

I like apple
I love fruits
I like banana
I love fruits
I like cherry
I love fruits
I like durian
I love fruits
I like peach
I love fruits

In [217]:
# String formatting 
name = "Pablo" 
age = 21

In [219]:
print(f"My name is {name} & my age is {age}") # f string (string formatting)

My name is Pablo & my age is 21

In [221]:
# Old string formatter
print('My name is %s' % name)

My name is Pablo

### List Comprehension

In [224]:
list_squares = [] # an empty list
for value in range(1,11):
    square = value ** 2
    list_squares.append(square)

In [226]:
print(list_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [228]:
# Achieve this with list comprehension
list_cubed = [value ** 3 for value in range(1,11)]

In [230]:
list_cubed

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [232]:
# List comprehension with strings
sentence = "hello world"
words = [word.upper() for word in sentence.split()]

In [234]:
print(words)

['HELLO', 'WORLD']

### List Slicing

In [237]:
# A list is indexed 
# In python, indexing starts from 0

In [239]:
len(list_bankJob)

12

In [241]:
list_bankJob

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [243]:
print(list_bankJob[0:4]) # Slicing

['management', 'technician', 'entrepreneur', 'blue-collar']

In [245]:
# Here is the poll of the day
letters_list = ['a','b','c','d']

In [247]:
print(letters_list[1:3])

['b', 'c']

In [249]:
list_bankJob

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [251]:
list_bankJob[1:3]

['technician', 'entrepreneur']

In [253]:
list_bankJob[:4] # omitting the first value for the slice index

['management', 'technician', 'entrepreneur', 'blue-collar']

In [255]:
list_bankJob[2:]

['entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [257]:
list_bankJob[2:4]

['entrepreneur', 'blue-collar']

In [259]:
list_bankJob[-3:]

['unemployed', 'housemaid', 'student']

In [261]:
list_bankJob

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [263]:
list_bankJob[:-3]

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed']

### Loop & Slice

In [266]:
print("Here are the first three job placements")
for jobs in list_bankJob[:3]:
    print(jobs.title())

Here are the first three job placements
Management
Technician
Entrepreneur

### Copying a list using slicing

In [269]:
list_bankJob_copy = list_bankJob[:]

In [271]:
list_bankJob_copy

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

### Data Structures: 

1. List

2. Tuple

3. Dictionary 

4. Set

### Tuple

In [275]:
# With a list, you can change data throughout its lifetime 
# With a list, you can modify entries
# With a tuple, it is immutable 
# A tuple is created using ()

In [277]:
tuple_bankJob = tuple(list_bankJob)

In [279]:
type(tuple_bankJob)

tuple

In [281]:
print(tuple_bankJob)

('management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin.', 'services', 'self-employed', 'unemployed', 'housemaid', 'student')

In [283]:
tuple_bankJob

('management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student')

### Characteristics of Tuples

In [286]:
# Python tuples are immutable - it cannot change
# Tuples are a secure choice for data integrity
# Tuples are used where data isn't altered unexpectedly

### Create a Tuple

In [289]:
dimensions = (200, 50) # Creating a Tuple

In [291]:
type(dimensions) # confirms a data type

tuple

In [293]:
print(dimensions)

(200, 50)

In [295]:
print(dimensions[1])

50

In [297]:
# What happens if I try to modify a Tuple
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [299]:
print(dimensions)

(200, 50)

In [301]:
print(dimensions[0])

200

In [303]:
dir(list_bankJob)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [305]:
dir(dimensions) # Exposes all the functionalities of the data structure

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [307]:
dimensions.index(50)

1

In [309]:
dimensions.count(200)

1

In [311]:
# Let me a share a use case

In [313]:
list_bankJob

['management',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [315]:
# Modify the list 
list_bankJob[0] = "technology"

In [317]:
list_bankJob

['technology',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student']

In [319]:
# Convert a list to a tuple
tuple_bankJob = tuple(list_bankJob)

In [321]:
type(tuple_bankJob)

tuple

In [323]:
tuple_bankJob

('technology',
 'technician',
 'entrepreneur',
 'blue-collar',
 'unknown',
 'retired',
 'admin.',
 'services',
 'self-employed',
 'unemployed',
 'housemaid',
 'student')

In [325]:
# Try to modify a tuple
tuple_bankJob[0] = 'management'

TypeError: 'tuple' object does not support item assignment

In [327]:
# List of weather stations and their data
weather_data = [
    (("34.05°N", "118.25°W"), ("Temperature", 20, "Humidity", 30)),  # Los Angeles
    (("40.71°N", "74.01°W"), ("Temperature", 16, "Humidity", 50)),  # New York
    (("47.61°N", "122.33°W"), ("Temperature", 13, "Humidity", 65))  # Seattle
]

In [329]:
print("Station Coordinates and Data:")
for station in weather_data:
    print(f"Coordinates: {station[0]}, Data: {station[1]}")

Station Coordinates and Data:
Coordinates: ('34.05°N', '118.25°W'), Data: ('Temperature', 20, 'Humidity', 30)
Coordinates: ('40.71°N', '74.01°W'), Data: ('Temperature', 16, 'Humidity', 50)
Coordinates: ('47.61°N', '122.33°W'), Data: ('Temperature', 13, 'Humidity', 65)

In [331]:
weather_data[0][0] = ('35.05°N', '118.25°W')

TypeError: 'tuple' object does not support item assignment

In [333]:
list_tuple_bankJob = list(tuple_bankJob)

In [335]:
type(list_tuple_bankJob)

list

### Styling Your Code

In [338]:
# Make your code readable 
# Make your code maintainable 
# Because of future collaborations 
# Have consistency 
# Error Reduction

#### Meaningful names for your variable

In [341]:
# Bad example
df1 = pd.read_csv("data.csv")
df2 = df1[df1["sales"] > 500]

# Good example
sales_data = pd.read_csv("data.csv")
high_sales_data = sales_data[sales_data["sales"] > 500]

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

#### Consistent Indentation & Spacing

In [ ]:
# Bad example
def calculate_mean(numbers):
 result = sum(numbers)/len(numbers)
 return result

# Good example
def calculate_mean(numbers):
    result = sum(numbers) / len(numbers)
    return result

#### Limit Line Length

In [345]:
# Bad example
data = dataset.get_data("20200901", "20201001", ["temperature", "humidity", "precipitation", "wind_speed", "sunshine_hours"])

# Good example
data = dataset.get_data(
    "20200901", "20201001", 
    ["temperature", "humidity", "precipitation", "wind_speed", "sunshine_hours"]
)

NameError: name 'dataset' is not defined

#### Docstrings(""" """) & Comments(#)

In [348]:
# Good example
def calculate_mean(numbers):
    """
    Calculate and return the arithmetic mean of a list of numbers.

    Args:
    numbers (list): A list of numbers.

    Returns:
    float: The arithmetic mean of the numbers.
    """
    return sum(numbers) / len(numbers)

#### Follow the PEP8 Style Guide

https://peps.python.org/pep-0008/

### Conditional Statements

In [1164]:
# Make decisions 
# Using Python code
# Asking questions

# Flow control
# Statements: if, elif & else

In [1166]:
# Example
cars = ['Mercedes', 'Korope', 'Toyota', 'Mustang', 'Dodge']

In [1168]:
for car in cars: 
    if car == 'Korope':
        print(car.upper())
    else:
        print(car.lower())

mercedes
KOROPE
toyota
mustang
dodge

### Comparison Operators

#### Rules

In [1171]:
# > Greater than - This is True if the value on the left is greater than the 
# value on the right

a = 4
b = 3
a > b

True

In [1173]:
# < Less than - This is True if the value on the left is less than the value on the 
# the right
b < a

True

In [1175]:
# == Equal to - This is True if the values on the left & right are equal
c = 4
d = 4 
c == d

True

In [1177]:
# != Not Equal to - This is True if the values on the left and right are not equal

e = 4
f = 9 
e != f

True

In [1179]:
# >= Greater than or equal to - This is True when the left value is greater than
# or equal to the value on the right
f >= e

True

In [1181]:
# <= Less than or equal to - This is True when the left value is less than
# or equal to the value on the right

e <= f

True

### Create a conditional statement

#### Rules

In [1184]:
# A conditional statement allows our code to branch in two or more directions 
# if statement evaluates if the condition is True
# else statement evaluates if the condition is False
# elif statement evaluates if we have an additional condition that's True

In [1186]:
authenticated = True # variable containing a Boolean 
unauthenticated = False # variable containing a Boolean

In [1188]:
# The True condition 
if authenticated:
    print("You are an AltSchooler")

You are an AltSchooler

In [1190]:
# The False condition
if unauthenticated:
    print("You are an AltSchooler")
else: 
    print("You not eligible")

You not eligible

In [1192]:
# Create an elif statement scenario 
age = 41
if age < 18:
    print("You are not eligible to vote")
elif age < 35:
    print("You can vote in any election")
elif age >= 40:
    print("You can vote and run for office")
else: 
    print("You are eligible to vote")

You can vote and run for office

In [1194]:
# Create a grades scenario 
# Grades A 70 - 100, B 60 - 69, C 50 - 59, D 40 - 49
grades = 40
if grades >= 70:
    print('Your grade is A')
elif grades >= 60:
    print('Your grade is B')
elif grades >= 50:
    print('Your grade is C')
else:
    print('Your grade is D')

Your grade is D

In [1196]:
# Folusho used logical operators
x= 80
if x<40:
    print('F')
elif x>=40 and x<50:
    print('D')
elif x>=50 and x<60:
    print('C')
elif x>=60 and x<69:
    print('B')
else:
    print('A')

A

### Nesting conditions

In [1199]:
 # An if statement inside another if statement
age = 18
car = 'Korope'

if age >= 18:
    if car in ['Honda', 'Toyota']: 
        print('You buy Japanese cars')
    
    elif car in ['Ford', 'Chevrolet']:
        print('You buy American cars')

else:
    print('You are too young to buy cars')

### Logical Operators

Rules

In [1202]:
# Allows you to chain multiple expressions together

In [1204]:
# and - Only True if both values are True 
x = 40
y = 41 

x > 20 and y < 51

True

In [1206]:
x > 20 and y > 51

False

In [1208]:
# or - True if either of the values are True
x > 20 or y > 51

True

In [1210]:
# not - True if the values are false
unauthenticated

False

In [1212]:
if not unauthenticated: 
    print("Please login")

Please login

In [1214]:
# Logical operator - and
age = 18
car = 'Korope'

if age >= 18 and car in ['Honda', 'Toyota']:
        print('You buy Japanese cars')
    
elif age >= 18 and car in ['Ford', 'Chevrolet']:
    print('You buy American cars')

else:
    print('You are too young to buy cars')

You are too young to buy cars

In [1216]:
# The if statement evaluates if the condition is True 
authenticated

True

In [1218]:
if authenticated: 
    print("Emmanuel Peter is an AltSchooler")

Emmanuel Peter is an AltSchooler

In [1220]:
# The else statement evaluates if the condition is false

In [1222]:
unauthenticated

False

In [1224]:
if unauthenticated:
    print("Emmanuel Peter is an Altschooler")
else:
    print("This individual is ineligible")

This individual is ineligible

In [1226]:
# What is the role of elif
score = 19

if score >= 21:
    print("Good work")
elif score <= 20:
    print("Okay")
else:
    print("Steeze")

Okay

In [1230]:
# Let's check out this example code 
marks = int(input("Enter marks"))

if marks >= 90:
    print("Grade A")
elif marks >= 80 and marks <= 89:
    print("Grade B")
elif marks >= 70 and marks <= 79:
    print("Grade C")
elif marks >= 60 and marks <= 69:
    print("Grade D")
elif marks >= 50 and marks <= 59:
    print("Grade E")
else:
    print("Sorry you got an F")

Enter marks 55

Grade E

### Special Operators

Rules

In [1232]:
# Examples: is, is not, in, not in
# Enhance efficiency and clarity 
# Create complex conditions - Outputs data

In [1233]:
# is - True when the values are identical - they have the same memory id

In [1235]:
# Every variable is stored in memory
name = "Onyia"

In [1238]:
id(name)

140549442679280

In [1240]:
x = [1,2,3]
y = [1,2,3] 
# Is x and y identical

In [1242]:
x is y

False

In [1244]:
print(x)

[1, 2, 3]

In [1246]:
print(y)

[1, 2, 3]

In [1248]:
a = 'Onyia'
b = 'Onyia'
# Is a and b identical?

In [1250]:
a is b

True

In [1252]:
id(x) # memory id

140549457641024

In [1253]:
id(y) # memory id

140549457634816

In [1255]:
id(a)

140549442679280

In [1256]:
id(b)

140549442679280

In [1257]:
type(x)

list

In [1262]:
x_t = tuple(x)

In [1263]:
type(x_t)

tuple

In [1266]:
id(x_t)

140549457679232

In [1268]:
y_t = tuple(y)

In [1270]:
id(y_t)

140549463928000

In [1272]:
# What does the 'is' operator do
a = 'a'
b = 'a'

In [1274]:
a is b

True

In [1276]:
b = 'b'

In [1278]:
a is b

False

In [1280]:
# is not - True when they are not identical 
a is not b

True

In [1282]:
# in - True when the value is in a collection

In [1284]:
y

[1, 2, 3]

In [1286]:
1 in y

True

In [1288]:
# not in - True when the value is not in the collection 
4 not in y

True

In [1290]:
# We did a survey
# Extracted a sample survey 
# Sample survey data
survey_data = [
    {"id": 1, "has_allergy": False, "diet": "Vegetarian"},
    {"id": 2, "has_allergy": True, "diet": "Keto"},
    {"id": 3, "has_allergy": None, "diet": "Vegan"},
    {"id": 4, "has_allergy": False, "diet": "Mediterranean"}
]

In [1292]:
print(survey_data)

[{'id': 1, 'has_allergy': False, 'diet': 'Vegetarian'}, {'id': 2, 'has_allergy': True, 'diet': 'Keto'}, {'id': 3, 'has_allergy': None, 'diet': 'Vegan'}, {'id': 4, 'has_allergy': False, 'diet': 'Mediterranean'}]

In [1294]:
# Check for specific dietary restrictions and allergies
for response in survey_data: 
    if response["has_allergy"] is True:
        print(f"Participant ID {response['id']} has allergies.")
    elif response["has_allergy"] is None:
        print(f"Participant ID {response['id']} did not answer the allergy question.")
    else:
        print("Not so sure")

Not so sure
Participant ID 2 has allergies.
Participant ID 3 did not answer the allergy question.
Not so sure

Understanding and using Python's special operators can dramatically improve your ability to process and analyze data efficiently and accurately. They allow you to write clearer, more intuitive code that can perform complex checks and manipulations with ease, making them invaluable tools in data analysis and beyond.

In [1297]:
# What does the f string do 
name

'Onyia'

In [1299]:
print(f"My last name is {name}")

My last name is Onyia

In [1301]:
# What does the \n newline do
print("Programming Languages: Python, Rust, JavaScript, Go")

Programming Languages: Python, Rust, JavaScript, Go

In [1303]:
print("Programming Languages:\nPython\nRust\nJavaScript\nGo")

Programming Languages:
Python
Rust
JavaScript
Go

In [1305]:
# List
# Tuples 
# Dictionaries

### Python Dictionaries

In [1308]:
# A dictionary is a data type & data structure 
# It is the closest way to humanize data (represent real-world objects
# more accurately)
# It is used to store and retrieve data
# Dictionaries are mutable

In [1310]:
# Create a dictionary - curly brace {}
# Dictionaries have key, value pairs

In [1312]:
# A simple dictionary 
instructor_profile = {'first_name': 'Pablo', 'last_name': 'Okwukogu', 
                      'email': 'pablo@altschoolafrica.com'}

In [1314]:
print(instructor_profile)

{'first_name': 'Pablo', 'last_name': 'Okwukogu', 'email': 'pablo@altschoolafrica.com'}

In [1316]:
restaurants_location = {"Chicken Republic": ['Lagos', 'Kaduna', 'Ogun'],
                        'KFC': ['Lagos', 'Ogun ', 'Delta'],
                        'Chicken Man': ['Accra', 'Kumasi', 'Takoradi'],
                        'Festival de glace': ['Calavy','Tokpa', 'Pekadis']}

In [1318]:
restaurants_location['Chicken Republic']

['Lagos', 'Kaduna', 'Ogun']

In [1320]:
restaurants_location['Festival de glace']

['Calavy', 'Tokpa', 'Pekadis']

In [1322]:
# Convert a dictionary into a dataframe 
# Two-dimensional Tabular Structure 
import pandas as pd

In [1324]:
rest_data = pd.DataFrame(restaurants_location)

In [1326]:
rest_data

  Chicken Republic    KFC Chicken Man Festival de glace
0            Lagos  Lagos       Accra            Calavy
1           Kaduna  Ogun       Kumasi             Tokpa
2             Ogun  Delta    Takoradi           Pekadis

In [1328]:
rest_data.to_csv('restaurant_location.csv', index = False)

In [1330]:
# Use a dictionary function to create a dictionary 
numbers = dict(one=1, two=2, three=3, four=4, five=5)

In [1332]:
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

### Accessing Dictionaries

In [1335]:
numbers['one']

1

In [1337]:
restaurants_location['KFC']

['Lagos', 'Ogun ', 'Delta']

In [1339]:
restaurants_location['Kilmanjaroo']

KeyError: 'Kilmanjaroo'

In [1341]:
'Kilmanjaroo' in restaurants_location

False

In [1343]:
numbers_names = {0: 'Mayowa' ,1 : 'Sandra', 2: 'Andrew', 3: 'Abayomi'}

In [1345]:
numbers_names[0]

'Mayowa'

### Dictionary Methods

In [1348]:
# To see the functionalities - Methods
dir(restaurants_location)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1350]:
# Using the get method
restaurants_location['Kilmanjaroo']

KeyError: 'Kilmanjaroo'

In [1352]:
print(restaurants_location.get('Kilmanjaroo', 'not found'))

not found

In [1354]:
numbers_names

{0: 'Mayowa', 1: 'Sandra', 2: 'Andrew', 3: 'Abayomi'}

In [1356]:
# Copy method

copy_restaurants_location = restaurants_location.copy()

In [1358]:
print(copy_restaurants_location)

{'Chicken Republic': ['Lagos', 'Kaduna', 'Ogun'], 'KFC': ['Lagos', 'Ogun ', 'Delta'], 'Chicken Man': ['Accra', 'Kumasi', 'Takoradi'], 'Festival de glace': ['Calavy', 'Tokpa', 'Pekadis']}

In [1360]:
# Clear the method
copy_restaurants_location.clear()

In [1362]:
copy_restaurants_location

{}

In [1364]:
# Update method 
numbers_names

{0: 'Mayowa', 1: 'Sandra', 2: 'Andrew', 3: 'Abayomi'}

In [1366]:
numbers_names.update([(4, 'Kehinde')])

In [1368]:
numbers_names

{0: 'Mayowa', 1: 'Sandra', 2: 'Andrew', 3: 'Abayomi', 4: 'Kehinde'}

In [1370]:
# pop method
numbers_names.pop(1)

'Sandra'

In [1372]:
numbers_names.pop(1, 'not found')

'not found'

In [1374]:
# popitem 
numbers_names

{0: 'Mayowa', 2: 'Andrew', 3: 'Abayomi', 4: 'Kehinde'}

In [1376]:
numbers_names.popitem()

(4, 'Kehinde')

In [1378]:
popped_item = numbers_names.popitem()

In [1380]:
popped_item

(3, 'Abayomi')

### Modify a dictionary

In [1383]:
numbers_names[5] = 'Chinonso' # modify a dictionary

In [1385]:
numbers_names

{0: 'Mayowa', 2: 'Andrew', 5: 'Chinonso'}

### Delete Items from a dictionary

In [1388]:
del numbers_names[0]

In [1390]:
numbers_names

{2: 'Andrew', 5: 'Chinonso'}

### Looping through a dictionary

In [1393]:
for key, value in numbers_names.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: 2
Value: Andrew

Key: 5
Value: Chinonso

In [1395]:
# Loop through the keys in a dictionary 
for key in numbers_names.keys():
    print(key)

2
5

In [1397]:
# Loop through the values in a dictionary 
for value in numbers_names.values():
    print(value)

Andrew
Chinonso

In [1399]:
# Question: How do I get the number of items in a dict
len(numbers_names)

/Users/pablo/anaconda3/lib/python3.10/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

2

In [1401]:
# Can we merge two dictionaries 
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

In [1403]:
dict1.update(dict2) # Using the update method overwrites an existing value

In [1405]:
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [1407]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

In [1409]:
merge_dict = {**dict1, **dict2}

In [1411]:
merge_dict

{'a': 1, 'b': 3, 'c': 4}

In [1413]:
# merge_dict_1 = dict1 & dict2

In [1414]:
merge_dict_2 = {** numbers_names, **restaurants_location}

In [1415]:
merge_dict_2

{2: 'Andrew',
 5: 'Chinonso',
 'Chicken Republic': ['Lagos', 'Kaduna', 'Ogun'],
 'KFC': ['Lagos', 'Ogun ', 'Delta'],
 'Chicken Man': ['Accra', 'Kumasi', 'Takoradi'],
 'Festival de glace': ['Calavy', 'Tokpa', 'Pekadis']}

### Nesting

In [1420]:
numbers_names
restaurants_location

{'Chicken Republic': ['Lagos', 'Kaduna', 'Ogun'],
 'KFC': ['Lagos', 'Ogun ', 'Delta'],
 'Chicken Man': ['Accra', 'Kumasi', 'Takoradi'],
 'Festival de glace': ['Calavy', 'Tokpa', 'Pekadis']}

In [1422]:
# A list of dictionaries 
numbers_restaurants = [numbers_names, restaurants_location]

In [1424]:
for dicts in numbers_restaurants:
    print(dicts)

{2: 'Andrew', 5: 'Chinonso'}
{'Chicken Republic': ['Lagos', 'Kaduna', 'Ogun'], 'KFC': ['Lagos', 'Ogun ', 'Delta'], 'Chicken Man': ['Accra', 'Kumasi', 'Takoradi'], 'Festival de glace': ['Calavy', 'Tokpa', 'Pekadis']}

In [1426]:
# Dictionary inside a dictionary 
users = {
'aeinstein': {
'first': 'albert',
'last': 'einstein',
'location': 'princeton',
},
'mcurie': {
'first': 'marie',
'last': 'curie',
'location': 'paris',
},
}

In [1428]:
users

{'aeinstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

### Python Sets

In [1431]:
# Unordered  collection of distinct objects
# They don't have element positions 
# They do not support indexing 
# They do not support slicing

In [1433]:
# Uniqueness 
# Mutability 
# Efficiency

In [1479]:
# Creating
fruits = {'apple', 'banana', 'cherries'}

In [1481]:
type(fruits)

set

In [1483]:
numbers_sets = set([1,2,3,4,4,4,4,5,5,5,5,6,6,7])

In [1485]:
print(numbers_sets)

{1, 2, 3, 4, 5, 6, 7}

In [1487]:
numbers_sets

{1, 2, 3, 4, 5, 6, 7}

In [1489]:
numbers_sets1 = set([77,55,11,34,90,45,67,54])

In [1491]:
numbers_sets1

{11, 34, 45, 54, 55, 67, 77, 90}

In [1493]:
# Add elements to sets
fruits.add('orange')

In [1495]:
fruits

{'apple', 'banana', 'cherries', 'orange'}

In [1497]:
# Remove elements 
fruits.remove('orange')

In [1499]:
fruits

{'apple', 'banana', 'cherries'}

In [1501]:
fruits.remove('pear')

KeyError: 'pear'

In [1503]:
fruits.discard('pear')

In [1505]:
# Delete or clear a set
numbers_sets1.clear()

In [1507]:
numbers_sets1

set()

In [1509]:
del numbers_sets1

In [1513]:
#numbers_sets1

In [1515]:
numbers_sets

{1, 2, 3, 4, 5, 6, 7}

In [1517]:
numbers_sets_tuples = tuple(numbers_sets)

In [1519]:
type(numbers_sets_tuples)

tuple

In [1521]:
# Can we cast dictionaries to tuples
dict1

{'a': 1, 'b': 2}

In [1523]:
dict1_tuple = tuple(dict1.values())

In [1525]:
dict1_tuple

(1, 2)

### Set Operations

In [ ]:
# union() - combines two sets and returns a new set
# intersection() - Returns a new set with the common elements 
# between the two sets
# difference() - Returns a new set with elements that are not in the other set

In [1553]:
# Union operation
first_set_names = {'Oluwatosin', 'Cynthia', 'Abayomi', 'Kazeem', 'Prince'}

In [1555]:
first_set_names

{'Abayomi', 'Cynthia', 'Kazeem', 'Oluwatosin', 'Prince'}

In [1557]:
second_set_names = {'Opeyemi', 'Sandra', 'Prince', 'Folusho', 'Abayomi'}

In [1559]:
all_sets_names = first_set_names.union(second_set_names)

In [1561]:
all_sets_names

{'Abayomi',
 'Cynthia',
 'Folusho',
 'Kazeem',
 'Oluwatosin',
 'Opeyemi',
 'Prince',
 'Sandra'}

In [1563]:
# Intersection 
intersect_set_names = first_set_names.intersection(second_set_names)

In [1565]:
intersect_set_names

{'Abayomi', 'Prince'}

In [1567]:
# Difference 
diff_sets_names = first_set_names.difference(second_set_names)

In [1569]:
diff_sets_names

{'Cynthia', 'Kazeem', 'Oluwatosin'}

### Input function

In [1]:
# An input function makes it possible to accept user inputs

In [3]:
# Simple input function 
message = input("Tell me something, and I will repeat it back to you: ") 
print(message)

Tell me something, and I will repeat it back to you:  Sometimes

Sometimes

In [4]:
# Break it down:
# It takes one argument - the prompt 
# The program will wait for an input

In [5]:
# Write clear prompts 
name = input("Please enter your name: ")
print(f"\nHello, {name}!") # f-strings make for readability

Please enter your name:  Pablo

Hello, Pablo!

In [6]:
# User inputs default output is a string 
age = input("How old are you? ")

How old are you?  21

In [11]:
type(age)

str

In [13]:
age >= 18 # using a comparison operator

TypeError: '>=' not supported between instances of 'str' and 'int'

In [15]:
# Use the int() to accept numerical inputs
age = input("How old are you? #Age has to be in months ")
age = int(age)

How old are you? #Age has to be in months  21

In [17]:
type(age)

int

In [19]:
age >= 19

True

In [21]:
# The modulo operator %
4 % 3

1

In [23]:
10 % 3

1

In [25]:
number = input("Enter a number, and I'll tell you if it's even or odd: ")
number = int(number)

if number % 2 == 0: 
    print(f"\nThe number {number} is even.")
else:
    print(f"\nThe number {number} is odd.")

Enter a number, and I'll tell you if it's even or odd:  23

The number 23 is odd.

In [27]:
party_size = input("How many people are in your dinner party tonight? ")
party_size = int(party_size)

if party_size > 8:
    print("\nI'm sorry, you'll have to wait for a table")
else:
    print("\nYour table is ready")

How many people are in your dinner party tonight?  89

I'm sorry, you'll have to wait for a table

### The while loop

In [29]:
# for loop: executes a block code for each item in a collection
# while loop: it runs as long as or while a specific condition is True

In [31]:
# Simple while loop
current_number = 1
while current_number <= 5:
    print(current_number)
    current_number += 1

1
2
3
4
5

In [35]:
# input function and while loop
prompt = "\nTell me something, and I'll repeat it back to you"
prompt += "\nEnter 'quit' to end the program."

message = ""
while message != 'quit':
    message = input(prompt)
    print(message)

Tell me something, and I'll repeat it back to you
Enter 'quit' to end the program. quit

quit

In [51]:
# Use break statement to exit a loop
prompt = "\nPlease enter the name of a city you have visited: "
prompt += "\n(Enter 'quit' when you are finished.) " 

while True:
    city = input(prompt)

    if city == 'quit':
        break
    else:
        print(f"I'd love to go to {city.title()}!")

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.)  Kaduna

I'd love to go to Kaduna!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.)  Nnewi

I'd love to go to Nnewi!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.)  quit

In [45]:
# Use case
def get_float_input(prompt):
    while True:
        user_input = input(prompt)
        try:
            # Attempt to convert the input to a float
            float_value = float(user_input)
            return float_value
        except ValueError:
            # Handle the error
            print("Invalid input. Please enter a valid floating point number")

In [49]:
# Use the example
user_float = get_float_input("Please enter a floating point number: ")
print(f"You entered: {user_float}")

Please enter a floating point number:  enter

Invalid input. Please enter a valid floating point number

Please enter a floating point number:  floats

Invalid input. Please enter a valid floating point number

Please enter a floating point number:  8.9

You entered: 8.9

In [67]:
# Continue statement
# Rather than break out of a loop entirely,
# The continue statement returns to the beginning of the loop
# Based on the existing conditional statement.
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 == 0:
        #break
        continue
    print(current_number)

1
3
5
7
9

In [ ]:
# Summary 
# input() - Allows users to provide their own information 
# With input functions, you can work with text and numbers(int)
# while loop - program runs as long as the condition is true
# break and continue - exit loop and continue in a loop

### Python Functions

In [1]:
# Python functions are reusable pieces of code 
# Python functions allow you to break your program into small parts,
# each of which does a specific job

In [3]:
# If you find your self writing the same code twice. - You need a function

In [4]:
# Create a simple function for salutation
# 1. Use the def keyword
# 2. The name of the function
# 3. My parameter symbol(optionally, it can have a parameter)
# 4. colon ':' - for indenting the code - code block
# 5. Optional(input a documentation)
# 6. Block of code - the specific task
# 7. Function call

In [39]:
# Code - 1st function 
def greeter():
    """ Displays a simple greeting. """
    # This is for greeting each other
    print("Hello!")

In [41]:
greeter() # Calling a function

Hello!

In [11]:
# Python has built-in functions
# sum, print

In [13]:
# 2nd function 
# Pass information into a function.

In [43]:
# Code
def greet_name(name): # added a parameter
    """ Displays a simple greeting. """
    # This is for greeting each other
    print(f"Hello, {name.title()}. How are you?")

In [45]:
# function call
greeter()

Hello!

In [47]:
greet_name() # without an argument

TypeError: greet_name() missing 1 required positional argument: 'name'

In [49]:
# function call
greet_name("Prince") # With an argument

Hello, Prince. How are you?

### Arguments & Parameters

In [24]:
# The function greet_name(name) - name is the Parameter
# At the function call - "Prince" is an argument

In [26]:
# A function definition can have multiple parameters
# You can pass in multiple arguments

### Positional arguments

In [51]:
def describe_mypet(animal_type, name_pet): # two parameters
    """ Display the information about a pet. """
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {name_pet.title()}.")

In [53]:
# function call 
describe_mypet('Cat', 'Memphis')

I have a Cat.
My Cat's name is Memphis.

In [55]:
# Interchanging positional arguments
# Order in positional arguments 
describe_mypet('Memphis', 'Cat')

I have a Memphis.
My Memphis's name is Cat.

In [57]:
# Keyword argument 
describe_mypet(name_pet='Memphis', animal_type='Cat')

I have a Cat.
My Cat's name is Memphis.

### Default Values in Functions

In [105]:
# You can define a parameter from the beginning 
# If you make a function call without a value, it will use the default value

In [113]:
def describe_mypet(name_pet, animal_type='cat'): # two parameters
    """ Display the information about a pet. """
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {name_pet.title()}.")

In [109]:
describe_mypet('cat', 'Memphis') # function call with values

I have a cat.
My cat's name is Memphis.

In [111]:
describe_mypet('cat')

TypeError: describe_mypet() missing 1 required positional argument: 'name_pet'

In [115]:
describe_mypet('Memphis')

I have a cat.
My cat's name is Memphis.

In [134]:
# Example
def send_message(recipient, message, log=False):
    """Send a message to a specified recipient. Optionally log the message."""
    print(f"Sending message to {recipient}: {message}")
    if log:
        print(f"Log: The message '{message}' was sent to {recipient}.")

In [136]:
send_message("Trust", "I am definitely drinking malt")

Sending message to Trust: I am definitely drinking malt

In [140]:
send_message("Trust", "I am definitely drinking malt",log=True)

Sending message to Trust: I am definitely drinking malt
Log: The message 'I am definitely drinking malt' was sent to Trust.

### Return Values

In [ ]:
# The return statement returns a set of values or value
# instead of printing an output

In [194]:
# Example 
def get_formatted_name(first_name, last_name):
    """ Returns a full name, neatly formatted. """
    full_name = f"{first_name} {last_name}"
    return full_name.title()

In [196]:
altschooler = get_formatted_name('cynthia', 'esumei')

In [198]:
print(altschooler)

Cynthia Esumei

In [200]:
altschooler

'Cynthia Esumei'

In [202]:
# Second example with a twist
def get_formatted_name(first_name,last_name, middle_name=''):
    """ Returns a full name, neatly formatted. """
    if middle_name:
        full_name = f"{first_name} {middle_name} {last_name}"
    else: 
        full_name = f"{first_name} {last_name}"
    return full_name.title()

In [204]:
get_formatted_name('Joy', 'Tule', 'Onyeaghala-Stanley')

'Joy Onyeaghala-Stanley Tule'

In [206]:
get_formatted_name('Joy', 'Onyeaghala-Stanley')

'Joy Onyeaghala-Stanley'

In [244]:
# 3rd example with twist(print)
def salute_students(names):
    """ Recognize outstanding students. """
    for name in names:
        message = f"Welldone, {name.title()}"
        print(message)

In [246]:
altschoolers_names = ['Ndidi', 'Emeka','Andrew','Mayowa','Kennedy']

In [248]:
salute_students(altschoolers_names)

Welldone, Ndidi
Welldone, Emeka
Welldone, Andrew
Welldone, Mayowa
Welldone, Kennedy

In [256]:
def salute_students(names):
    """ Recognize outstanding students. """
    for name in names:
        message = f"Welldone, {name.title()}"
        return message

In [258]:
altschoolers_names = ['Ndidi', 'Emeka','Andrew','Mayowa','Kennedy']

In [260]:
salute_students(altschoolers_names)

'Welldone, Ndidi'

### Testing out a function on a dataset

In [ ]:
# titanic dataset - Training
# Test

In [60]:
# import packages 
import pandas as pd 
import numpy as np

In [62]:
# first function
def concat_df(train_data, test_data): 
    """ Returns a concatenated data frame of train & test. """
    return pd.concat([train_data, test_data], sort=True).reset_index(drop=True)

In [64]:
# second function
def divide_df(all_data):
    """ Return divided data frames of training & test. """
    return all_data.loc[:890], all_data.loc[891:].drop(['Survived'], axis=1)

In [70]:
# Create data frames 
df_train = pd.read_csv('titanic.csv')
df_test = pd.read_csv('titanic_test.csv')

In [92]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [88]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [74]:
df_train.shape # Returns number of rows & columns

(891, 12)

In [78]:
df_test.shape # Returns number of rows and columns

(418, 11)

In [80]:
df_all = concat_df(df_train, df_test) # first use of our functions

In [82]:
df_all.shape

(1309, 12)

In [96]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [94]:
df_train.loc[321]

PassengerId                 322
Survived                      0
Pclass                        3
Name           Danoff, Mr. Yoto
Sex                        male
Age                        27.0
SibSp                         0
Parch                         0
Ticket                   349219
Fare                     7.8958
Cabin                       NaN
Embarked                      S
Name: 321, dtype: object

In [ ]:
# axis=0 - Row-wise operation
# axis=1 - column-wise operation

In [59]:
# Are break statements exclusively for while loops?
# Example of break in a for loop
numbers = [1, 3, 5, 7, 9, 2, 4, 6, 8, 22]
for number in numbers:
    if number % 2 == 0:
        print("First even number found:", number)
        #break  # Exit the loop on finding the first even number

First even number found: 2
First even number found: 4
First even number found: 6
First even number found: 8
First even number found: 22

In [61]:
# Example of break in a for loop
numbers = [1, 3, 5, 7, 9, 2, 4, 6, 8, 22]
for number in numbers:
    if number % 2 == 0:
        print("First even number found:", number)
        break  # Exit the loop on finding the first even number

First even number found: 2

In [69]:
# Can we have two or more continue statements in while loop? 
# Yes
# Example: Processing numbers with multiple continue statements

numbers = [1, 2, -1, 4, -5, 6, 7, -8]
index = 0

while index < len(numbers):
    number = numbers[index]
    index += 1  # Increment index at the beginning to avoid infinite loops

    # Skip processing for negative numbers
    if number < 0:
        print(f"Skipped a negative number: {number}")
        continue

    # Skip processing if the number is too small
    if number < 3:
        print(f"Skipped a small number: {number}")
        continue

    # Process the number
    print(f"Processed number: {number}")

Skipped a small number: 1
Skipped a small number: 2
Skipped a negative number: -1
Processed number: 4
Skipped a negative number: -5
Processed number: 6
Processed number: 7
Skipped a negative number: -8

In [75]:
# Can break and continue statements be in one block of codes?
# Yes
numbers = [1, 2, 3, 4, 5, -1, 6, 7, 8, 9, 10]

# Process numbers until a negative number is found
for number in numbers:
    if number == -1:
        print("Negative number encountered. Exiting loop.")
        break  # Exit the loop if a negative number is found
    if number % 2 == 0:
        print(f"Skipping even number: {number}")
        continue  # Skip further processing for even numbers
    print(f"Processing number: {number}")

Processing number: 1
Skipping even number: 2
Processing number: 3
Skipping even number: 4
Processing number: 5
Negative number encountered. Exiting loop.

In [66]:
# What does the pd.loc() do?
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [68]:
df.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [98]:
# What does the pd.loc() do?
df_1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=[1,2,3],
                  columns=['max_speed', 'shield'])
df_1

   max_speed  shield
1          1       2
2          4       5
3          7       8

In [102]:
df_1.iloc[1]

max_speed    4
shield       5
Name: 2, dtype: int64